body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px;
}

.upper, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.logo img {
    max-height: 80px;
    max-width: 80px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px;
}

a:hover {
    color:greenyellow;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 35px;
}

.upper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    padding: 35px
}

.inform {
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
}

.inform-first {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.inform-second {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    padding: 7px 10px;
    font-weight: 700;
}

button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

#main-top {
    padding: 40px;
}

.picture-energy img {
    height: auto;
    width: 100%;
}

.picture-energy {
    padding: 35px;
    display: flex;
}

h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
}

.sources {
    display: flex;
    flex: 1;
    margin: 40px;
}

.pictures-sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.pictures-sources img {
    height: auto;
    width: 100%;
    border: 3px solid #3882F6;
}

#quotes {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 10px;
}

.text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
    color: #131111;
}